<!DOCTYPE html>
<html>
  <head>
    <title><%= name %></title>

    <!-- meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= description %>">
    <meta name="description" content="Vecka, Veckonummer">
    <meta name="theme-color" content="<%= themeColor %>">
    <link rel="manifest" href="/manifest.json">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <meta property="og:locale" content="sv_SE" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="vecka.14islands.com" />
		<meta property="og:description" content="<%= description %>" />
		<meta property="og:image" content="https://vecka.14islands.com/images/open-graph-image.png" />
		<meta property="og:url" content="https://vecka.14islands.com" />
		<meta property="og:site_name" content="<%= name %>" />

		<!-- Twitter Card data -->
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@14islands">
		<meta name="twitter:title" content="vecka.14islands.com">
		<meta name="twitter:description" content="<%= description %>">
		<meta name="twitter:creator" content="@14islands">
		<meta name="twitter:image" content="https://vecka.14islands.com/images/open-graph-image.png">

    <!--styles -->
    <link rel='stylesheet' href="<%= getVersionedPath('/style.css') %>" />

    <!-- icons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/icons/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="<%= themeColor %>">
  </head>
  <body>
    <div data-component="Offline" class="Offline">
      <span class="Offline-message">You seem to be offline.</span>
    </div>
    <div class="Weeks" data-component="Weeks" data-weeks-count="<%= weeks.length %>">
      <div class="Weeks-tester"></div>
      <div class="Weeks-card">
        <% for(var i=0; i< weeks.length; i++) {%>
        <div class='Weeks-cardWrapper <% if (weeks[i].isTodaysWeek()) { %>isCurrent isSelected<% } %>' data-index="<%= weeks[i].getIndex() %>" data-season="<%= weeks[i].getSeason() %>">
          <div class="Weeks-titleWrapper">
            <span class="Weeks-label t-label">vecka</span>
            <h1 class="Weeks-number">
              <% if(weeks[i].getNumber() >= 10){ %>
              <span><%= weeks[i].getNumber().toString().substring(0, 1) %></span><span class="Weeks-numberAnimate"><%= weeks[i].getNumber().toString().substring(1, 2) %></span>
              <% } %>
              <% if (weeks[i].getNumber() < 10){ %>
              <span class="Weeks-numberAnimate"><%= weeks[i].getNumber() %></span>
              <% } %>
            </h1>
          </div>
          <div class="Weeks-dateWrapper">
            <span class="Weeks-monthPeriod t-monthPeriodLabel"><%= weeks[i].getMonthPeriod() %></span>
            <span class="Weeks-daysPeriod t-daysPeriod"><%= weeks[i].getDayPeriod() %></span>
          </div>
        </div>
        <% } %>
      </div>
      <div class="Weeks-scrollerWrapper">
        <div class="Weeks-scroller">
          <div class="Weeks-scrollerList">
            <% for(var i=0; i< weeks.length; i++) {%>
            <div class="Weeks-scrollerItem">
              <span class="Weeks-scrollerItemNumber t-day"><%= weeks[i].getNumber() %></span>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>

    <div class="Info">
      <a href="https://14islands.com" class="Info-link" title="14islands">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="29.5 357.6 133.6 67.6" enable-background="new 29.5 357.6 133.6 67.6">
          <g opacity=".4"><path class="polygon polygon-down--light" d="M76.8 392.3l33.3 32.9 19.9-6.4 7-6.5 4.2 9.1 13.6-12.6 4.4-2.6 3.9-13.9z"></path><path class="polygon polygon-down--light" d="M64.9 392.3l-.9 2.5-6 6.6-4.8-3.9v6.2l-7.5 2.6-14.9-14z"></path><path class="polygon polygon-down--dark" d="M30.8 392.3h-1.3l3.1 6.2h4.9z"></path><path class="polygon polygon-down--dark" d="M53.2 403.7v-6.2l4.8 3.9-1.2 1.5z"></path><path class="polygon polygon-down--dark" d="M76.8 392.3h-2.5l6.2 17.7 11.8-2.4z"></path><path class="polygon polygon-down--dark" d="M130 418.7l7-6.5 4.2 9.2z"></path></g><path class="polygon polygon-up--light" d="M76.8 391l33.3-33.4 19.9 6.2 7 6.4 4.2-9.2 13.6 12.6 4.4 3 3.9 14.4z"></path><path class="polygon polygon-up--light" d="M64.9 391l-.9-2.9-6-6.9-4.8 3.7v-6.2l-7.5-2.2L30.8 391z"></path><path class="polygon polygon-up--dark" d="M30.8 391h-1.3l3.1-6.3h4.7z"></path><path class="polygon polygon-up--dark" d="M53.2 378.7v6.2l4.8-3.8-1.2-1.6z"></path><path class="polygon polygon-up--dark" d="M76.8 391h-2.5l6.2-18.1 11.8 2.6z"></path><path class="polygon polygon-up--dark" d="M130 363.6l7 6.5 4.2-9.2z"></path>
        </svg>
      </a>
    </div>

    <script src="<%= getVersionedPath('/main-compiled.js') %>"></script>
    <script>
      /*
      * Register Service Worker
      */
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js').then((reg) => {
          console.log('Service Worker register', reg)
        }).catch((err) => {
          console.log('Service Worker error', err)
        })
      }
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-88116349-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
