<!DOCTYPE html>
<html>
  <head>
    <title>Vecka - 14islands.com</title>
    <link rel='stylesheet' href="<%= getVersionedPath('/style.css') %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
  </head>
  <body>

    <div class="Weeks" data-component="Weeks" data-weeks-count="<%= weeks.length %>">
      <div class="Weeks-tester"></div>
      <div class="Weeks-card">
        <span class="Weeks-label">vecka</span>
        <% for(var i=0; i< weeks.length; i++) {%>
        <div class='Weeks-cardWrapper <% if (weeks[i].isTodaysWeek()) { %>isCurrent isSelected<% } %>' data-index="<%= weeks[i].getIndex() %>">
          <h1 class="Weeks-number"><%= weeks[i].getNumber() %></h1>
          <div class="Weeks-dateWrapper">
            <span class="Weeks-startDay t-dateTime"><%= weeks[i].getStartDayText() %></span>
            <span class="Weeks-endDay t-dateTime"><%= weeks[i].getEndDayText() %></span>
            <span class="Weeks-year t-dateTime"><%= weeks[i].getYearText() %></span>
            <span class="Weeks-index t-dateTime">+<%= weeks[i].getIndex() %></span>
          </div>
        </div>
        <% } %>
      </div>
      <div class="Weeks-scrollerWrapper">
        <div class="Weeks-scroller">
          <div class="Weeks-scrollerList">
            <% for(var i=0; i< weeks.length; i++) {%>
            <div class="Weeks-scrollerItem">
              <span class="Weeks-scrollerItemNumber t-label"><%= weeks[i].getNumber() %></span>
                <% if (weeks[i].isFirstWeekOfYear() && i > 0) { %>
                <div class="Weeks-scrollerItemYear">
                  <span class="Weeks-scrollerItemYearText t-label"><%= weeks[i].getYearText() %></span>
                </div>
                <% } %>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <script src="<%= getVersionedPath('/main-compiled.js') %>"></script>

    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js').then( function(reg) {
          console.log('Service Worker register');
        }).catch(function(err) {
          console.log('Service Worker error', err);
        });
      }
    </script>
  </body>
</html>
